<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de datos</title>
  </head>
  <body>
    <h1>Listado de cursos</h1>

    <div>
      <h2>Cantidad de cursos: {{ total }}</h2>
      <div>
        <a href="{{ url_for('insertCourse') }}">Instertar curso</a>
      </div>
      <table border="1px">
        <thead>
          <tr>
            <th>ID</th>
            <th>Curso</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          {% for curso in cursos %}
          <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td align="center"><a href="">ver</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
