* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #242639;
    color: #fff;
}

header{
    background-color: #212336;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .contenido {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .contenido h1 {
    font-size: 20px;
}

header .contenido h1 span {
    color: #fe4b57;
}

header .contenido nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}
header .contenido nav a:hover {
    color: #fe4b57;
}

@media (max-width: 768px) {

    header .contenido nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

/* section */
section {
    max-width: 1300px;
    margin: auto;
    height: 90vh;
    position: relative;
    padding: 0 20px;
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inicio h2 {
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 3.5em;
}

#inicio p {
    width: 25em;
    font-size: 1em;
    line-height: 24px;
    color: #474853;
    margin-bottom: 20px;
}

.btn {
    background-color: #fe4b57;
    color: #fff;
    border: none;
    padding: 10px 30px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

/* seccion Skills */
#habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    color: #fe4b57;
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .titulo {
        margin: auto;
    }
}

#habilidades hr {
    width: 50px;
    height: 4px;
    border: 2px solid #fe4b57;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    #habilidades hr {
        margin: auto;
    }
}

#habilidades .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width: 768px){

    #habilidades .fila {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

}

#habilidades .fila .col {
    width: 30%;
    background-color: #2b2d41;
    padding: 25px;
}

#habilidades .fila .col i{
    color: #fe4b57;
    font-size: 20px;
    margin-bottom: 10px;
}

#habilidades .fila .col h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#habilidades .fila .col p{
    font-size: 12px;
    line-height: 20px;
}

/* seccion Contacto */
#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto form {
    max-width: 500px;
}

#contacto form .entrada {
    width: 100%;
    border: none;
    background-color: #2b2d41;
    padding: 25px;
    margin-bottom: 20px;
    outline: none;
    font-size: 18px;
    color: #fff;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

/* indicador */

.indicador {
    position: absolute;
    right: -30px;
    padding-right: 0;
}

.indicador .selector {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #474853;
}

.indicador .linea {
    width: 1px;
    margin: auto;
    background-color: #474853;
    height: 30px;
}

.pintado {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #474853;
    background-color: #fe4b57;
}

