*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: black;
    text-decoration: none;
    list-style: none;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(238, 238, 238);
}

.button__theme{
    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));
    border: none;
    border-radius: 20em;
    cursor: pointer;
    padding: 10px;
}

.button__theme:hover{
    animation-name: swing;
        -webkit-animation-name: swing;
        -moz-animation-name: swing;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

header{
    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));
    background-image: url(diario.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    height: 70vh;

    padding: 5px .5em;
    
    position: relative;
    opacity: .8;
    z-index: 5;
}

.div__logo_titulo{
}

.div__logo_titulo a{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));;
    padding: 5px 10px;
    border-radius: 2px;

    
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.div__logo_titulo a:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.div__logo_titulo a h2{
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.div__logo_titulo a img{
    height: 30px;
}

.celular{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.div__nav_center ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.div__nav_center ul li a{
    transition: .2s;

    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));;
    border-radius: 20em;
    padding: 10px;
}

.div__nav_right ul li a{
    transition: .2s;

    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));;
    border-radius: 20em;
    padding: 10px;
}
.div__nav_center ul li a:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
    
}
.div__nav_right ul li a:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}



/* articulo */
article{
    width: 90%;
    text-align: center;
    margin: auto;

    margin-top: 20vh;

    height: 72vh;

    display: flex;
    flex-direction: column;
    gap: 4em;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 1.5em;

    background: linear-gradient(to right, rgb(255, 203, 184), rgb(255, 135, 91));

    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.section h2{
    font-size: 30px;
    font-family: serif;
    letter-spacing: 2px;
}

.section a{
    overflow: hidden;
}

.section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section img{
    width: 100%;
    margin: auto;

    border-radius: 5px;

    box-shadow: -1px 0px 23px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 23px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 23px 3px rgba(0,0,0,0.75);

    transition: all.2s;
}
.section img:hover{
    transform: scale(1.05);
}

.epigrafe{
    font-size: 10px;
    margin-top: -20px;
}


 @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

    @keyframes swing {
        20% {transform: rotate3d(0, 0, 1, 15deg);}
        40% {transform: rotate3d(0, 0, 1, -10deg);}
        60% {transform: rotate3d(0, 0, 1, 5deg);}
        80% {transform: rotate3d(0, 0, 1, -5deg);}
        to  {transform: rotate3d(0, 0, 1, 0deg);}
    }  


 @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  