*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(206, 206, 206);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__main{
    background-color: rgb(128, 128, 128);
    width: 89vh;
    height: 50vh;

    display: flex;

    border-radius: 10px;

    overflow: hidden;
}

.container{
    display: flex;
    animation: slide 20s infinite alternate ease-in-out;
}

.container__img1{
    height: 100%;
}

.container__img2{
    height: 100%;
}

.container__img3{
    height: 100%;
}

@keyframes slide {
    from{
        transform: translate(0);
    }

    30%{
        transform: translate(0);
    }

    35%{
        transform: translate(-33.3%);
    }

    70%{
        transform: translate(-33.3%);
    }

    75%{
        transform: translate(-66.6%);
    }

    100%{
        transform: translate(-66.6%);
    }
}

.container-btn{
    position: absolute;
    z-index: 5;

    padding: 0 1em;

    width: 89vh;
    height: 50vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__right,
.btn__left{
    font-size: 30px;
    font-weight: bold;

    padding: 0 10px;

    color: white;

    border-radius: 5px;

    cursor: pointer;

    backdrop-filter: blur(5px);
}